body  {
      background-color: white;
      }



.heading {
    margin: 0px;
    font-size: 70px;
    text-align: center;
    padding: 2%;
    color:black

}

.horisontti {
  padding: 2%;
  font-size: 30px;
  text-align: center;
  background-color: gainsboro
  

}

ul {
  list-style-type: none;
  text-align: left;
  padding: 5%;
  font-size: 25px;
  background-color: gainsboro;
  

}


li {
  text-align: center;
  margin: 0%;
  padding: 9%;

}
.vertti {
  margin: 0%;
  float: left;
  padding: 4%;
  
}

footer {
  text-align: center;
  margin-top: 25%;
  padding: 2%;
  color: black;
  background-color: gainsboro;
  border-style: solid;
}
  

a:link {
  color: black;
}

a:visited {
  color: rgb(0, 11, 128);
}

a:hover {
  color: hotpink;
}

a:active {
  color: blue;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}